<footer class="footer">
  <div class="container">
    <h2 class="title">{{ site.title }}</h2>

    <div class="columns">

      <!-- Contact List -->
      <div class="column">
        <ul>
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <!-- Social Media List -->
      <div class="column">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <!-- Site Description -->
      <div class="column is-half">
        <p>{{ site.description }}</p>
      </div>

    </div>
  </div>
</footer>
